.container {
  max-width: 60vw;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  flex: 1;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}
